body {
    box-shadow: inset 0 20px 0 #1abc9c;
}

.page-content {
    padding: 100px 20px;
}

.left-bar {
    text-align: center;
}

.panel-body {
    padding: 35px;
}

.lime-link {
    color: black;
    text-decoration: none;
}

.lime-link:visited {
    color: black;
}

.lime-link:hover {
    text-decoration: none;
    color: #1abc9c;
}

.social-list {
    padding: 25px 0px;
    margin: 0px;
}

.social-list>li {
    display: inline-block;
}

.social-list>li>a {
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #dfdfdf;
    color: darkgrey;
    text-decoration: none;
}

.social-list>li>a:visited {
    color: darkgrey;
}

.social-list>li>a:hover {
    background: #1abc9c;
    color: #1abc9c;
}