---
layout: default
---

<div class="home">

    {% for post in site.posts %}
    <div class="panel panel-default">
        <div class="panel-body">
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
            <strong>
              <a class="lime-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </strong>
          </h2>
          
          <div>
            {{ post.content }}
          </div>
        </div>
    </div>
    {% endfor %}

</div>
