<a href="{{ site.url }}">
    <img src="{{ "/assets/img/profile-picture.jpg" | prepend: site.url }}" class="img-circle">
</a>

<h3><strong>{{ site.name }}</strong><br/><small>Software Engineer</small></h3>
<div>
    {{ site.description }}
</div>
<ul class="social-list">
    <li>
        <a href="https://www.github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-lg fa-inverse"></i>
        </a>
    </li>
    <li>
        <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-lg fa-inverse"></i>
        </a>
    </li>
    <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            <i class="fa fa-rss fa-lg fa-inverse"></i>
        </a>
    </li>
</ul>