<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    <div class="page-content container">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 left-bar">
          {% include left-bar.html %}
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
          {% include header.html %}
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
