---
layout: default
---
<div class="panel panel-default">
  <div class="panel-body">
    
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      <h2 itemprop="name headline"><strong>{{ page.title }}</strong></h2>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

  </div>
</div>
